<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1 class="header">Why Did I choose This Project?</h1>

    <p>I love music. I was a drummer for much of my early life. For the past decade I've designed and built many different solid state and tube amplifiers and loudspeakers. My goal has always been music playback for maximum pleasure and enjoyment. Consumer tube audio equipment that is similar in quality to what I build is rare and unobtainably expensive so as a maker at heart, I entered into the DIY audio world. </p>

    <p>My love of music and quality sound reproduction often leads me on adventures to record shops and extensive searches for new source material.</p>

    <p>For this project I used Spotify's developer API to deep dive into music discovery.</p>

    {% endblock %}
  </body>
</html>
