<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Discovery</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1 class="header">Lets Discover New Music </h1>

    <p>Enter the name of a band or musician that you love. We'll use the Spotify API to pull a photo along with a list of 20 similar artisit and bands you might like. This method searches all Spotify member playlists with your search entry and returns a list of 20 similar bands accross those playlists. </p>

    <h1 class="header">Enter a band or musicians' name:</p>

    <form action="" method="post">
    <div class="input text" style="margin-left:10px;">{{form.name}}</div>
    <div class="input submit" style="margin-left:10px;"><input type="submit" value="Find similars"></div>
    </form>

    <h1 class="header">{{name}}</h1>
    {% if image_url!=None %}
      <p>Hear their top 10 tracks <a class="text_links" href="/music/{{searched_uri}}">here</a></p>
    {% endif %}

    {% if image_url!=None %}
      <p><img src={{image_url}} style="width:70%; height:auto;" /></p>
    {% endif %}

    {% if similar!=None %}
      <h1 class="header">20 similar artists you may enjoy:</h1>
      {% for key, value in similar.items() %}
        <p><a class="text_links" href="/music/{{value}}">{{key}}</a></p>
      {% endfor %}
    {% endif %}

    {% endblock %}
  </body>
</html>
